language: php

cache:
  apt: true
  directories:
    - $HOME/.composer/cache

env:
  global:
    - setup=basic
    - coverage=false
    - phpstan=false

sudo: false

before_install:
  - sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-fr
  - if [[ $coverage = 'false' ]]; then phpenv config-rm xdebug.ini; fi

install:
  - if [[ $phpstan = 'true' ]]; then travis_retry composer require --dev phpstan/phpstan; fi
  - if [[ $setup = 'basic'  ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-stable; fi
  - |
    if [[ $setup = 'lowest' ]]; then
        composer require sebastian/comparator:"~1.2.4" --no-update --dev
        travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-stable --prefer-lowest
    fi

script:
  - composer phpunit
  - if [[ $phpstan = 'true' ]]; then composer phpstan; fi

after_success:
  - if [[ $coverage = 'true' ]]; then bash <(curl -s https://codecov.io/bash); fi

branches:
  only:
    - gh-pages
    - /.*/

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.3
      dist: precise
      env: setup=lowest
    - php: 5.3
      dist: precise
      env: setup=stable

    - php: 5.4
    - php: 5.4
      env: setup=lowest
    - php: 5.4
      env: setup=stable

    - php: 5.5
    - php: 5.5
      env: setup=lowest
    - php: 5.5
      env: setup=stable

    - php: 5.6
    - php: 5.6
      env: setup=lowest
    - php: 5.6
      env: setup=stable

    - php: 7.0
    - php: 7.0
      env: setup=lowest
    - php: 7.0
      env: setup=stable

    - php: 7.1
    - php: 7.1
      env: setup=lowest
    - php: 7.1
      env: setup=stable

    - php: 7.2
      env:
        - coverage=true
        - phpstan=true
    - php: 7.2
      env: setup=lowest
    - php: 7.2
      env: setup=stable

  fast_finish: true

notifications:
  slack:
    secure: mdZBxjp18TYD4hOXKrj2mayveaUBj2fcgiVb1LOv1fiuonzhNwT5I5n795BNGpl1z76I8ZzD3MICbvigXs8QGMBkTnCriSEZNuyQUlAR972q+h02HmKM/j0d90S3tGbPh6PFGh0oo7ZCt0TAlHtNTGL0uyOwzJ26A+Sa5zA8HzN+y44KXTyMYRE/RXDkKB8460W+UFOVXsFw3pdXqeW6CbQY4A8hR8F0veBThfqrE/qXtmQ0MR97uuaDQDbJAiJuVe3DzIOcAdYwuqYbm3sgsomqsXONX7LyrrqXPguNDyM7XwkZUP6t9Nqvxz94HIJkYWASFNgOyysxOYqhgtAG7/xkT77D63IzxcsxLtfNSzOJwaP7xE3YHog082MR0ywdpZpjklmDdPhhiDfGaGRSHGJCqEMcW4QjFibLm3pnvxXoeTyY4Zx0hkCRqDlTYq9IMX6i3fVF4dZ+egOSJrd9BDXlnkyNy2C3z/5Ee6hfVoD53FT4l8zvRc+ip2tFQOzE1O81o8OYHOsF4DfcE0u1B/+ZeYihuFbJ8DMIBv8bUlZ76sQLQD0FAPzeKURDB2lTlUFODUH8ewPEuGbH6Bbao5bFoeWKvC6xTCuanpeU1xwJrzSvzMljqcEyZmOoqST776wCwS/qjY9yh8344VTZYHqGVY/L5DxjTbvSKpyHj2k=
