language: php

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - setup=basic
    - coverage=false
    - phpstan=false

sudo: false

before_install:
  - if [[ $coverage = 'false' ]]; then phpenv config-rm xdebug.ini; fi

install:
  - if [[ $setup = 'basic' ]]; then travis_retry composer install --prefer-dist --no-interaction --no-suggest; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-stable; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-stable --prefer-lowest; fi
  - if [[ $phpstan = 'true' ]]; then travis_retry composer require --dev phpstan/phpstan

script:
  - vendor/bin/phpunit --verbose --coverage-clover=coverage.xml
  - if [[ $phpstan = 'true' ]]; then vendor/bin/phpstan analyse --configuration phpstan.neon --level 3 src tests; fi

after_success:
  - if [[ $coverage = 'true' ]]; then bash <(curl -s https://codecov.io/bash); fi

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.3
      dist: precise
      env: setup=lowest
    - php: 5.3
      dist: precise
      env: setup=stable

    - php: 5.4
    - php: 5.4
      env: setup=lowest
    - php: 5.4
      env: setup=stable

    - php: 5.5
    - php: 5.5
      env: setup=lowest
    - php: 5.5
      env: setup=stable

    - php: 5.6
    - php: 5.6
      env: setup=lowest
    - php: 5.6
      env: setup=stable

    - php: 7.0
      env:
        - coverage=true
        - phpstan=true
    - php: 7.0
      env: setup=lowest
    - php: 7.0
      env: setup=stable

    - php: 7.1
      env:
        - coverage=true
        - phpstan=true
    - php: 7.1
      env: setup=lowest
    - php: 7.1
      env: setup=stable
      
    - php: 7.2
      env:
        - coverage=true
        - phpstan=true
    - php: 7.2
      env: 
        - setup=lowest
        - ALLOW_FAIL=true
    - php: 7.2
      env: setup=stable

    allow_failures:
        - env: ALLOW_FAIL=true
  fast_finish: true
