*{box-sizing:border-box}
body {font-family:"Open sans","Helvetica Neue",Helvetica,Arial,sans-serif;padding-bottom:90px;}
a {outline:0}

.navbar {margin-bottom:0;background-color:white;border:0}
.navbar-brand {height:70px;padding:10px 15px;}
.navbar-nav > li > a {line-height:40px;}

.jumbotron {background-color:#7ac35f;padding:10px 15px 30px}
.jumbotron h1 {color:#f6f6f6;font-size:36px;margin-bottom:20px;}
.jumbotron code, .jumbotron pre {display:inline-block;text-align:left}
.jumbotron pre {width:100%}
pre {border:0;border-radius:4px;margin:0;padding:0;background-color:#1d1f21}
pre code.hljs {padding:15px;overflow-x:auto;overflow:auto;word-wrap:normal;white-space:pre}

p {line-height: 1.6;}
p, .info-table {margin-bottom:16px;font-size:16px}
code {color: #38932c;font-size:90%}
.page {margin-bottom:30px}

.tidelift{display:block;background:#122A36;padding:8px 16px;vertical-align:middle;font-weight:bold;color:white;margin-bottom:15px;}
.tidelift:hover, .tidelift:active, .tidelift:focus{text-decoration:none;color:#cff0ff;}
.tidelift img{width:32px;height:32px;margin-right:10px;}

.nav {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.news {
    margin-top: 26px;
    padding: 3px 10px;
    background: #b8f0b5;
}

.doc-description {
    white-space: pre-line;
}

.modal-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 0;
    border: 1px solid #d8d8d8;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
}

.modal-menu-item {
    line-height: 26px;
    cursor: pointer;
    padding: 0 10px;
}

.modal-menu-item:hover {
    background: #b1b1b1;
}

@media (min-width: 1200px) {
    .tidelift {
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 10000;
    }
}

#docs h1 {padding:20px 0;margin-bottom:20px;border-bottom:1px solid #7ac35f;}

#affix-nav .affix {max-height: calc(100% - 120px);overflow: auto;}
#affix-nav li a {color:#777;font-size:90%;padding:5px 0 5px 10px}
#affix-nav li a:hover {background-color:#f1ffe6}
#affix-nav li.active {border-left:3px solid #38932c;color:#38932c;font-weight:700}

.info-table{border-collapse: collapse}
.info-table tr td, .info-table tr th{padding:4px 8px;border:1px solid silver}
.info-table tr:nth-child(even) td{background:#f6f8fa}
.compatibility-check{text-align:center}

blockquote, .doc-comment{font-size:15px;color:#656565}
.class-name, .doc-comment {color: #8f8f8f}

.discover-chapter {
    display: none;
}

.extra-helper,
.old-way {
    display: none;
    border-left: 1px solid silver;
    margin-left: 15px;
    padding-left: 15px;
    color: #4b4b4b;
}

.extra-helper {
    color: #28324b;
}

.live-editor-loading:before {
    content: 'Loading live editor...';
    color: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin: auto;
    width: 100%;
    display: block;
}
.live-editor-new-window {
    float: right;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-bottom: -32px;
    color: #cbcbcb;
}
.live-editor-new-window:hover {
    color: white;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
}
.main-wrapper > section {
    flex: 1;
}
.main-wrapper > aside {
    flex: 0;
    height: 100%;
    overflow: hidden;
}
.main-wrapper > aside,
.main-wrapper > aside .search-wrapper {
    min-width: 0;
    width: 0;
    transition: 0.2s all;
}
.main-wrapper > aside .search-wrapper {
    background: #e8e8e8;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    overflow: hidden;
}
.main-wrapper > aside .search-wrapper .close {
    position: absolute;
    top: 9px;
    right: 15px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    outline: none;
    border-radius: 100%;
    background: #a6a6a6;
    border: none;
}
.main-wrapper > aside .search,
.main-wrapper.open > aside .search-wrapper,
.main-wrapper.open > aside {
    min-width: calc(100vw - 1220px);
    width: calc(100vw - 1220px);
}
.main-wrapper > aside .search {
    padding: 15px;
    margin-top: 50px;
    height: calc(100vh - 50px);
    overflow: auto;
}
.main-wrapper > aside .search .doc-method {
    padding: 15px 0;
}
.main-wrapper > aside .search .doc-return {
    color: #395aaf;
    margin: 10px 0;
    font-weight: bold;
}
.main-wrapper > aside .search .doc-method h2 {
    font-size: 20px;
}
.main-wrapper > aside .search .doc-method.deprecated h2 {
    opacity: 0.6;
}
.main-wrapper > aside .search .doc-method.deprecated h2:after {
    content: '(deprecated)';
    text-decoration: none;
    position: relative;
    top: -4px;
    left: 10px;
    font-size: 15px;
}
.main-wrapper > aside .search .info-table.method-history {
    margin-top: 15px;
    font-size: 14px;
}
.main-wrapper > aside .search .info-table.method-history tr:nth-child(odd) th,
.main-wrapper > aside .search .info-table.method-history tr:nth-child(odd) td {
    background: #ededed;
}
.main-wrapper > aside .search-bar {
    height: 50px;
    padding: 9px 15px;
    box-shadow: 0 1px 1px silver;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.main-wrapper > aside .search-bar .input-group {
    width: 66%;
}
.history-major-group, .history-minor-group {
    padding-left: 15px;
}
.release-date {
    color: #337ab7;
    cursor: help;
}
.release-date,
.download-release {
    display: inline-block;
    margin-left: 15px;
}
.history-major-title {
    border-bottom: 1px solid #686868;
}
.history-minor-title {
    border-bottom: 1px solid #a3a3a3;
}
.version-description {
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}

.translate-slot .link {
    width: 25%;
    float: left;
}
.translate-slot a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    transition: .2s background;
}
.translate-slot a:hover {
    background: #d7e5fa;
}
.translate-slot a .chip {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 1px 3px;
    border-radius: 2px;
    background: #28324b;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}
.translate-slot .preferred a .chip {
    background: #65390f;
}
.translate-slot .favorite a .chip {
    background: #a8710c;
}
.translate-slot:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c9dcc2;
    border-top: 1px solid #b1b1b1;
    box-shadow: 0 0 5px grey;
}

.available-slot {
    line-height: 2em;
    padding: 2px 15px;
}

footer .help-translate {
    color: #363636;
    transition: .2s background;
}

footer .close {
    float: right;
    padding: 4px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    transition: .2s background;
    line-height: 24px;
    font-size: 16px;
    width: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
}

footer .close:hover {
    background: rgba(0, 0, 0, 0.2);
}

footer .help-translate {
    display: none;
    padding: 6px;
    text-align: center;
}

footer [data-ea-type="text"].loaded .ea-content {
    margin: 5px 0 -10px;
    padding: 0;
    box-shadow: none;
    background: none;
}

footer [data-ea-type="text"].loaded .ea-callout {
    margin-bottom: -2px;
}

.height-squeezed {
    height: 0;
    overflow: hidden;
}

.v-margin-15 {
    margin: 15px 0;
}

.search-result-item {
    cursor: pointer;
    border-bottom: 1px solid silver;
    padding: 4px 0;
}

pre.search-result-item {
    background: white;
    color: black;
    border-radius: 0;
    margin-bottom: 10px;
}

.search-result-item:hover {
    background: #e0dfaa;
}

.search-result-item .highlight {
    background: #fcff4c;
}

.country-language {
    display: none;
}

@media (max-width: 1600px) {
    html,
    body {
        height: 100%;
        overflow: auto;
    }
    .main-wrapper.open {
        overflow: hidden;
    }
    .main-wrapper.open > aside {
        overflow: visible;
    }
    .main-wrapper > section {
        min-width: calc(100vw - 17px);
    }
    .main-wrapper.open > section {
        overflow: hidden;
    }
    .main-wrapper > aside .search,
    .main-wrapper.open > aside .search-wrapper,
    .main-wrapper.open > aside {
        min-width: 100vw;
        max-width: 100vw;
        width: 100vw;
    }
}
