body {font-family:"Open sans","Helvetica Neue",Helvetica,Arial,sans-serif}
a {outline:0}

.navbar {margin-bottom:0;background-color:white;border:0}
.navbar-brand {height:70px;padding:10px 15px;}
.navbar-nav > li > a {line-height:40px;}

.jumbotron {background-color:#7ac35f;padding:10px 15px 30px;text-align:center}
.jumbotron h1 {color:#f6f6f6;font-size:36px;margin-bottom:20px;}
.jumbotron code, .jumbotron pre {display:inline-block;text-align:left}
pre {border:0;border-radius:4px;margin:0;padding:0;background-color:#1d1f21}
pre code.hljs {padding:15px;overflow-x:auto;overflow:auto;word-wrap:normal;white-space:pre}

p {line-height: 1.6;}
p, .info-table {margin-bottom:16px;font-size:16px}
code {color: #38932c;font-size:90%}
.page {margin-bottom:30px}

#docs h1 {padding:20px 0;margin-bottom:20px;border-bottom:1px solid #7ac35f;}

#affix-nav li a {color:#777;font-size:90%;padding:5px 0 5px 10px}
#affix-nav li a:hover {background-color:#f1ffe6}
#affix-nav li.active {border-left:3px solid #38932c;color:#38932c;font-weight:700}

.info-table{border-collapse: collapse}
.info-table tr td, .info-table tr th{padding:4px 8px;border:1px solid silver}
.info-table tr:nth-child(even) td{background:#f6f8fa}
.compatibility-check{text-align:center}
