parameters:
    level: 3
    paths:
        - src
        - tests
    parallel:
        processTimeout: 300.0
    ignoreErrors:
        - '#^Call to an undefined static method#'
        - '#^Unsafe usage of new static\(\)\.#'
        - '#^Method Carbon\\Carbon(Interface|Immutable)?::(add|sub)[A-Z][A-Za-z]+\(\) invoked with 1 parameter, 0 required\.#'
        - '#^Unary operation "\~" on mixed results in an error\.$#'
        - '#^Call to an undefined method Carbon\\Carbon(Interface|Immutable)?::(super|noThis)\(\)\.$#'
        - '#Class Symfony\\Component\\Translation\\IdentityTranslator does not have a constructor and must be instantiated without any parameters\.#'
        - '#Call to an undefined method DateTimeInterface::setTimezone\(\)\.#'
        - '#should return (\S*)static\(Carbon\\CarbonPeriod\) but returns Carbon\\CarbonPeriod\.$#'
        - '#should return (\S*)static\(Carbon\\Carbon\) but returns Carbon\\Carbon(Interface)?\.$#'
        - '#should return (\S*)static\(Carbon\\CarbonImmutable\) but returns Carbon\\Carbon(Immutable|Interface)\.$#'
    excludes_analyse:
        - '*/src/Carbon/Laravel/ServiceProvider.php'
        - '*/tests/Carbon/SerializationTest.php'
        - '*/tests/CarbonImmutable/SetStateTest.php'
        - '*/tests/CarbonImmutable/SerializationTest.php'
        - '*/tests/Laravel/*.php'
        - '*/tests/Cli/*.php'
        - '*/tests/CarbonPeriod/Fixtures/filters.php'
        - '*/tests/Fixtures/dynamicInterval.php'
        - '*/tests/PHPStan/*.php'
