parameters:
	ignoreErrors:
		- '#Static call to instance method Carbon\\CarbonInterval::#'
		- '#Static method DateTime::__set_state()#'
	excludes_analyse:
		- '*/tests/Carbon/MacroTest.php'
		- '*/tests/Carbon/SettersTest.php'
		- '*/tests/Carbon/GettersTest.php'
		- '*/tests/CarbonInterval/SettersTest.php'
		- '*/tests/CarbonInterval/GettersTest.php'
