<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>

    <filter>
        <whitelist>
            <directory>src/Carbon</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="carbon">
            <directory>tests/Carbon</directory>
        </testsuite>
        <testsuite name="interval">
            <directory>tests/CarbonInterval</directory>
        </testsuite>
        <testsuite name="period">
            <directory>tests/CarbonPeriod</directory>
        </testsuite>
        <testsuite name="localization">
            <directory>tests/Localization</directory>
        </testsuite>
        <testsuite name="laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
    </testsuites>
</phpunit>
