/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #5a8b48;
  --vp-c-brand-2: #6da15a;
  --vp-c-brand-3: #86b873;
  --vp-c-brand-soft: rgba(86, 146, 52, 0.2);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-code-font-size: 0.8rem;
}

.dark {
    --vp-c-brand-1: #7ac35f;
  --vp-c-brand-2: #579641;
  --vp-c-brand-3: #4a7c2b;
  --vp-c-brand-soft: rgba(86, 146, 52, 0.2);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {

  --vp-home-hero-name-color: transparent;
   --vp-home-hero-name-background: #7ac35f;

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #7ac35f 50%,
    #579641 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.vp-doc [class*='language-'] {
  &:hover {
    & > .sandbox-button {
      opacity: 1;
    }
  }

  & > .sandbox-button {
      direction: ltr;
      position: absolute;
      top: 12px;
      right: 60px;
      z-index: 3;
      border: 1px solid var(--vp-code-copy-code-border-color);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: var(--vp-code-copy-code-bg);
      color: rgba(128,128,128,1);
      opacity: 0;
      cursor: pointer;
      background-position: 50%;
      background-size: 20px;
      background-repeat: no-repeat;
      transition: border-color 0.25s,
      background-color 0.25s,
      opacity 0.25s;

      &:hover {
        border-color: var(--vp-code-copy-code-hover-border-color);
        background-color: var(--vp-code-copy-code-hover-bg);
    }
  }
}

.side-image {
    background: color-mix(in srgb, var(--vp-c-bg) 20%, var(--vp-c-bg-soft) 80%);
    min-height: 50px;
}

.bottom-text {
    > * {
        z-index: 50;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 46px;
        background: color-mix(in srgb, var(--vp-c-bg) 20%, var(--vp-c-bg-soft) 80%);

        .ea-body {
            color: var(--vp-c-text-1);
        }

        &[data-ea-publisher].loaded .ea-content {
            margin: 0;
        }
    }
}
